
.footer {
    background: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
  }
  
  .contact-link {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
  }
  
  .contact-link:hover {
    text-decoration: underline;
  }
  
  .footer p {
    text-align: center;
    /* Adjust as needed for your design */
  }
  
  .footer .contact-link {
    margin: 0 10px; /* This adds horizontal space around the links */
  }
  
  /* New CSS for spacing around pipes */
  .footer .separator {
    margin: 0 8px; /* Adjust the space around pipes */
    display: inline-block; /* Helps in applying margin correctly */
  }

  .footer .copyright-text {
    color: #adaeaf; /* Light gray color, adjust as needed */
  }