#cern-toolbar {
  background-color: rgba(30, 30, 30, 0.95);
  font-family: 'PT Sans', 'Trebuchet MS', Tahoma, sans-serif;
  color: #999;
  font-size: 16px; /* Increase the font size to 16px */
  line-height: 1;
  padding: 0 5%;
  overflow: hidden;
  height: 50px; /* Increase height to fit larger text */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#cern-toolbar a,
.cern-title a,
.cern-signedin a {
  display: inline-block; /* Allows the hover effect to be applied to the entire area */
  text-decoration: none;
  padding: 5px; /* Adds space around the link for the hover effect */
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.cern-title a:hover,
.cern-signedin a:hover,
.cern-signout:hover,
.cern-directory:hover,
.account:hover {
  background-color: rgba(0, 0, 0, 0.7); /* Darker shading on hover */
  cursor: pointer; /* Hand cursor on hover */
  text-decoration: none; /* Removes underline */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.cern-title h1 {
  font-size: 16px; /* Increase to match toolbar font size */
}

.cern-title .cern-word {
  color: white !important; /* Ensuring color is applied */
  margin-right: 10px;
}

.accelerating-science {
  color: lightgray;
  font-size: 16px; /* Increase to match toolbar font size */
}

.cern-accountlinks {
  font-size: 16px; /* Increase to match toolbar font size */
}

.cern-accountlinks .account {
  color: lightgray; /* Make the username light gray */
  margin-right: 10px; /* Add more space between username and Sign out */
}

.cern-accountlinks .cern-signout {
  color: lightgray; /* Make "Sign out" text light gray */
}

.cern-directory {
  font-size: 16px; /* Increase to match toolbar font size */
  color: lightgray; 
}

.cern-signedin {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 15px;
}


.logout-button {
  background-color: rgb(68, 66, 66);
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.user-info {
  display: flex;
  gap: 10px;
}

.user-info .user-name,
.user-info .user-username {
  margin: 0;
}

/* The div containing the image */
.headerImage {
  background-image: url('./design/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 150px; /* Adjust according to your image */
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerTitle {
  color: white;
  font-size: 48px; /* Adjust size as needed */
}

.title {
  font-size: 26px;  /* Set the font size */
  color: gray;  /* Set the color */
}

.device-item {
  position: relative;
  padding: 5px;
}

.device-item .flex-grow-1 {
  border-top: 1px solid #ccc;
  position: absolute;
  top: 50%;
  width: calc(100% - 40px);
}

.user-email {
  margin-left: 15px;
}

.device-status.green {
  background-color: green;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.device-status.red {
  background-color: red;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
/* .headerImage {
  background: linear-gradient(45deg, #6db3f2, #1e38bf);
  color: #fff;
} */

.headerTitle {
  font-size: 2.5rem;
  font-weight: bold;
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hover-effect:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.btn-primary {
  background-color: #1e38bf;
  border-color: #1e38bf;
}

.btn-primary:hover {
  background-color: #163291;
  border-color: #163291;
}

.button-hover-effect:hover {
  background-color: orange !important; /* Make the background orange on hover */
  color: white !important; /* Change text (and icon) color to white on hover */
}

.button-hover-effect:hover .fa-icon {
  color: white !important; /* Ensure FontAwesome icon color changes to white on hover */
}
